<form id="actor-search" action="/search-actors" method="GET">
  <h2>Find projects in common</h2>
  <label for="actor1">Actor 1</label>
  <input type="text" id="actor1" name="actor1" placeholder="E.g. Carrie Fisher" required>

  <label for="actor1">Actor 2</label>
  <input type="text" id="actor2" name="actor2" placeholder="E.g. Mark Hamill" required>

  <button type="submit">Search projects</button>
</form>