<!DOCTYPE html>
<html>
  <head>
    <title>Co-stars App</title>
  </head>

  <body>
    <h1>Welcome to Co-stars!</h1>
    <p>The app where you can discover which TV shows and movies 2 actors have in common.</p>
    <%- include('partials/form') %>
    <div id="results"></div>
    <footer>
      <p>All data provided by <a href="https://www.themoviedb.org/">TMDB</a></p>
    </footer>
    <script type="module" src="/script.js"></script>
  </body>
</html>